body {
    background: #f3f3f3;
}

.wrapper {
    min-height: calc(100vh - 56px);
}

.main-footer {
    text-align: center;
    background: #343a40;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.edit-pane {
    padding: 1.5rem;
    border-width: 0 1px 1px 1px;
    border-radius: 0px;
}

.preview-pane {
    background: #fff;
    padding: 1.5rem;
    min-height: 750px;
}