body {
	background: #f3f3f3;
	font-family: "Lato", sans-serif;
	font-family: "Montserrat", sans-serif;
	font-family: "Work Sans", sans-serif;
}

.wrapper {
	min-height: calc(100vh - 56px);
}

.main-footer {
	background: #343a40;
	color: #f9f9f9;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 56px;
}

.edit-pane {
	padding: 1.5rem;
	border-width: 0 1px 1px 1px;
	border-radius: 0px;
	min-height: 750px;
	outline: none;
}

.preview-pane {
	background: #fff;
	padding: 1.5rem;
	min-height: 750px;
	border: 1px solid #dee2e6;
	border-width: 0 1px 1px 1px;
}

.review-content,
.comment-card {
	border: 1px solid #dee2e6;
	padding: 1rem;
	background: #fff;
}

.review-content,
.book-title {
	font-family: "PT Serif", serif;
}

.book-title {
	font-weight: 600;
}

.comment-card {
	padding: 1rem 1rem 0 1rem;
	max-width: 640px;
}

.comment-date {
	display: flex;
	justify-content: flex-end;
}

.book-deck {
	min-height: calc(100vh - 224px);
}

.book-iter-nav {
	display: flex;
	justify-content: center;
}

.rating-star {
	color: orange;
}

.book-card-title {
	font-family: "PT Serif", serif;
}

/* card design */
.book-card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	border-radius: 5px;
	padding: 0 0 1rem 0;
	background: #fff;
}

.book-card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.book-card-container {
	padding: 2px 16px;
}

.book-card-title {
	margin: 0.75rem 0;
	font-weight: 600;
}

.book-card .rating-stars {
	margin-bottom: 1rem;
}

.book-genre-list {
	padding: 0;
	list-style: none;
}

.book-genre-tag {
	margin-bottom: 10px;
	color: #fefefe;
	border-radius: 5px;
	padding: 4px 6px;
	font-size: 11px;
	font-weight: bold;
}

.rating-stars {
	margin-top: 0.6rem;
}

.book-card .cover-image-container {
	max-height: 365px;
	display: flex;
	border-radius: 5px 5px 0 0;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.book-card .cover-image {
	width: 100%;
	height: 100%;
}

.site-links a {
	color: #f9f9f9;
	text-decoration: underline;
	margin: 0 0.5rem;
}

.copyright-note {
	text-align: right;
}
