body {
    background: #f3f3f3;
}

.wrapper {
    min-height: calc(100vh - 56px);
}

.main-footer {
    text-align: center;
    background: #343a40;
    color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
}

.edit-pane {
    padding: 1.5rem;
    border-width: 0 1px 1px 1px;
    border-radius: 0px;
}

.preview-pane {
    background: #fff;
    padding: 1.5rem;
    min-height: 750px;
}

.review-content, .comment-card {
    border: 1px solid #dee2e6;
    padding: 1rem;
    background: #fff;
}

.comment-card {
    padding: 1rem 1rem 0 1rem;
}

.book-deck {
    min-height: calc(100vh - 224px);
}

.book-iter-nav {
    display: flex;
    justify-content: center;
}