# ide
.vscode/
.idea/

# virtualenv
venv/

# cache
__pycache__

#db files
site.db

# tokens, secret, keys ...
config.json

# uploaded files
instance/uploads/*.jpg
instance/uploads/*.jpeg
instance/uploads/*.png