{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-4 col-lg-3 col-sm-5 col-8 mt-3">
        <img class="img-fluid" src="{{ url_for('main.send_image_file', filename=book.cover_image_file)}}"
            alt="{{ book.book_title }}">
    </div>
    <div class="col-md-8 col-lg-6 col-sm-7 mt-3">
        <h4>{{ book.book_title }}</h4>
        <p class="mt-3">by {{ book.author_name }}</p>
        <p class="mt-2">ISBN: {{ book.isbn }}</p>
        <p class="mt-2">Genre: 
            <a href="{{ url_for('book.genre', name=book.genre) }}">{{ book.genre }}</a>
        </p>
        <p class="mt-2">
            {{ book.tiny_summary }}
        </p>
        {% if current_user.is_authenticated %}
        <div class="btn-groups mt-2">
            <a href="{{ url_for('book.edit', book_slug=book.title_slug) }}" class="btn btn-sm btn-outline-info mr-2">Edit</a>
            <a href="{{ url_for('book.write_review', book_slug=book.title_slug) }}" class="btn btn-sm btn-primary">
                {% if book.review_content %}
                Edit Review
                {% else %}
                Write Review
                {% endif %}
            </a>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-12 mt-4">
        <h1>Detailed Review</h1>
        {{ book.review_content }}
    </div>
</div>
{% endblock %}