<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>
    {% if title %}
    {{ title }} |
    {% endif %}
    Book Reviews by Amrit Pandey
  </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700&display=swap" rel="stylesheet"> 
</head>

<body>
  <div class="wrapper">
    <header class="main-header">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand mr-2" href="{{ url_for('main.home') }}">
            <img class="img-fluid" src="{{ url_for('static', filename='img/logo.png') }}" alt="brand logo"
              style="max-width: 150px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mr-auto"></div>
            <ul class="navbar-nav">
              <form action="{{ url_for('book.search') }}" method="GET" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" name="bname">
                <button class="btn btn-info my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
              </form>
              {% if current_user.is_authenticated %}
              <li class="nav-item dropdown ml-3">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  Account
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{{ url_for('book.add') }}"><i class="fas fa-plus"></i> Add Book</a>
                  <a class="dropdown-item" href="{{ url_for('admins.add') }}"><i class="fas fa-user-shield"></i> Create
                    Admin</span></a>
                  <a class="dropdown-item" href="{{ url_for('admins.logout') }}"><i class="fas fa-sign-out-alt"></i>
                    Logout</span></a>
                </div>
              </li>

              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <main class="main-section mt-4">
      <div class="container">
        <!-- flash messages -->
        {% with messages = get_flashed_messages(with_categories = True) %}
        {% if messages %}
        {% for cat, msg in messages %}
        <div class="alert alert-{{ cat }} alert-dismissible fade show" role="alert">
          {{ msg }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <!-- content block -->
        {% block content %} {% endblock %}
      </div>
    </main>
  </div>
  <footer class="main-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <div class="site-links">
            <a href="">about</a>
            <a href="">privacy</a>
            <a href="">terms</a>
            <a href="">licenses</a>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="copyright-note">
            Copyrights &copy; 2019 Amrit Pandey
          </div>
        </div>
      </div>


    </div>
  </footer>
  <script src="{{ url_for('static', filename='js/jquery.slim.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>

</html>