{% extends "layout.html" %}

{% block content %}
{{ pagedown.include_pagedown() }}
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#Edit" role="tab" aria-controls="Edit"
      aria-selected="true">Edit</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#Preview" role="tab" aria-controls="Preview"
      aria-selected="false">Preview</a>
  </li>
</ul>

<form action="" method="POST">
  <div class="tab-content">
    {{ form.hidden_tag() }}
    <div class="tab-pane show active" id="Edit" role="tabpanel" aria-labelledby="Edit-tab">
      <div class="form-group">
        {{ form.review_content(only_input=True, class="form-control edit-pane", style="width: 100%; height: 100%;") }}
      </div>
    </div>

    <div class="tab-pane" id="Preview" role="tabpanel" aria-labelledby="Preview-tab">
      <div class="preview-pane">
        {{ form.review_content(only_preview=True) }}
      </div>
    </div>
    <div class="form-group mt-4">
      {{ form.publish(class="btn btn-info") }}
      {{ form.save_draft(class="btn btn-outline-info") }}
      <a href="{{ url_for('book.present', book_slug=book.title_slug) }}" class="btn btn-outline-secondary">Cancel</a>
    </div>
  </div>
</form>

{% endblock %}